.cta-container {
    width: 90%;
    margin: 1.5em 0 0.5em 0;
    display: flex;
    justify-content: center;
}

.cta-btn {
    width: 50%;
    max-width: 15em;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.1em;
    padding: 1em 0.5em;
    border-radius: 2em;
    border: 1px solid var(--color-cta-3);
    color: var(--color-cta-text);
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(135deg, var(--color-cta-1), var(--color-cta-2));
    position: relative;
    z-index: 1;
}

.cta-btn:enabled:hover {
    color: var(--color-2)
}

.cta-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 2em;
    background: linear-gradient(-135deg, var(--color-cta-1), var(--color-cta-2));
    z-index: -1;
}

.cta-btn:enabled:hover::before {
    opacity: 1;
}

.cta-btn:enabled:active {
    color: var(--color-4-dark)
}

.cta-btn:disabled {
    color: var(--color-2);
    background: linear-gradient(-135deg, var(--color-4), var(--color-4-dark));
    border: 1px solid var(--color-4);
    cursor: not-allowed;
}