.event-card {
    background: linear-gradient(90deg, var(--color-1), var(--color-1-dark));
    border-radius: 1em;
    padding: 0.7em;
    min-height: 10em;
    height: auto;
    width: 80%;
    max-width: 18em;
    min-width: 12em;
    box-shadow: 0.2em 0.2em 0.5em 0 var(--color-box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
}

.event-card.events-page {
    min-height: 13em;
    height: auto;
    width: 90%;
    max-width: none;
    font-size: 0.8em;
    padding: 1em;
}

.event-card.past {
    background: linear-gradient(90deg, var(--color-5), var(--color-5-dark));
}

.event-card:active {
    background: linear-gradient(90deg, var(--color-1-lighter), var(--color-1-dark-lighter));
}

.event-card.past:active {
    background: linear-gradient(90deg, var(--color-5-lighter), var(--color-5-dark-lighter));
}

.event-card-title {
    width: 100%;
    color: var(--color-3);
    font-size: 0.9em;
}

.event-card-title.events-page {
    font-size: 1.5em;
    text-decoration: underline;
}

.event-card-title.past {
    color: var(--color-1-dark-lighter)
}

.event-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: stretch;
    gap: 0.5em;
}

.event-thumbnail {
    width: 35%;
    object-fit: cover;
    border-radius: 0.5em;
}

.event-detail {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--color-2-mid);
    font-size: 0.8em;
    justify-content: space-between;
}

.event-detail.events-page {
    font-size: 1em;
}

.event-detail-text.events-page {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.event-artist {
    font-weight: bold;
    margin-bottom: 0.3em;
}

.event-artist.events-page {
    font-size: 1.3em;
    color: var(--color-3-lighter);
    margin-bottom: 0.1em;
}

.event-category {
    align-self: end;
    padding: 0.2em 0.4em;
    border-radius: 1em;
    font-weight: bold;
    background: linear-gradient(90deg, var(--color-3), var(--color-3-mid));
    color: var(--color-1);
    box-shadow: 0 0.1em 0.2em 0 var(--color-box-shadow);
}

.event-detail-tag {
    font-weight: bold;
    color: var(--color-3-lighter)
}

.event-detail-tag.past {
    color: var(--color-1-dark-lighter);
}

@media screen and (min-width: 600px) {
    .event-card {
        font-size: 1.2em;
        padding: 0.7em;
        height: auto;
        width: 50%;
        max-width: none;
        transition: scale 0.2s ease-in-out;
        cursor: pointer;
    }

    .event-card.events-page {
        min-height: 13em;
        width: 45%;
        font-size: 0.8em;
        padding: 1em;
        transition: scale 0.2s ease-in-out;
        cursor: pointer;
    }

    .event-card:hover {
        scale: 105%;
    }

    .event-card:active {
        background: linear-gradient(90deg, var(--color-1-lighter), var(--color-1-dark-lighter));
    }
}

@media screen and (min-width: 992px) {
    .event-card {
        width: 80%;
    }

    .event-card.events-page {
        width: 30%;
    }
}