.event-banner {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    position: relative;
}

.event-banner.ticket {
    flex-direction: row;
    gap: 0.3em;
}

.event-poster {
    max-height: 40vh;
    object-fit: cover;
    object-position: center top;
    border: 0.2em solid var(--color-3-dark);
    border-radius: 1em;
    box-shadow: 3px 3px 5px var(--color-box-shadow);
}

.event-poster.ticket {
    width: 20%;
    border: 1px solid var(--color-3-dark);
    border-radius: 0.5em;
    box-shadow: none;
}

.event-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.event-info.ticket {
    width: 80%;
    font-size: 0.7em;
    height: stretch;
}

.event-info-title {
    width: 100%;
    color: var(--color-1);
    text-align: center;
    border-bottom: 3px solid var(--color-3-dark);
    background-color: var(--color-1);
    border-radius: 1em 1em 0 0;
    padding-top: 0.3em;
}

.event-info-title.ticket {
    border-radius: 0.5em 2em 0 0;
    text-align: left;
    padding: 0.5em 2em 0 2em;
}

.event-info-title.past {
    background-color: var(--color-5);
}

.event-title {
    color: var(--color-2);
    text-shadow: var(--text-shadow-gold);
}

.event-artist {
    color: var(--color-3-dark-lighter);
}

.event-info-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    margin: 0 auto;
    padding: 1em 2em;
    border-radius: 0 0 1em 1em;
    background: linear-gradient(-90deg, var(--color-2), var(--color-4));
}

.event-info-content.ticket {
    padding: 0.5em 2em;
    border-radius: 0 0 2em 0.5em;
    height: stretch;
    justify-content: center;
}

.event-info-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.event-info-row.ticket {
    width: 75%
}

.event-info-row-title {
    min-width: 7em;
    width: 30%;
}

.separator {
    font-weight: bold;
}

.event-row-content {
    width: 65%;
    text-align: right;
}

@media screen and (min-width: 600px) {
    .event-banner {
        flex-direction: row;
        margin: 0 auto;
    }

    .event-poster {
        height: stretch;
        max-height: 50vh;
        width: 30%;
        box-shadow: none;
    }

    .event-info {
        width: 70%;
        height: stretch;
    }

    .event-info-title {
        text-align: left;
        border-radius: 0.5em 2em 0 0;
        padding-top: 1em;
        padding-left: 1em;
    }

    .event-info-content {
        padding: 1em 1em 1em 1em;
        height: stretch;
        border-radius: 0 0 2em 0.5em;
    }

    .event-row-content {
        text-align: left;
    }

    .event-banner.ticket {
        flex-direction: row;
        gap: 0.3em;
        margin: 0 auto;
        max-width: 50em;
    }

    .event-poster.ticket {
        width: auto;
        max-height: 9em;
        border: 1px solid var(--color-3-dark);
        border-radius: 0.5em;
        box-shadow: none;
    }

    .event-info.ticket {
        width: stretch;
        font-size: 1em;
        height: stretch;
    }

    .event-info-title.ticket {
        border-radius: 0.5em 2em 0 0;
        text-align: left;
        padding: 0.5em 2em 0 2em;
    }

    .event-info-content.ticket {
        padding: 0.5em 2em;
        border-radius: 0 0 2em 0.5em;
        height: stretch;
    }

    .event-info-row.ticket {
        width: 75%
    }
}

@media screen and (min-width: 992px) {
    .event-banner {
        width: 75%;
    }

    .event-poster {
        max-height: 60vh;
    }

    .event-banner.ticket {
        width: 80%;
        max-width: 50em;
    }
}