.event-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.event-cards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 2vw;
    gap: 2vw
}