main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-1);
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 2em);
}

.venue-detail-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.venue-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 2em 0;
    gap: 1em;
}

.venue-banner-img {
    max-width: 90%;
    border: 0.2em solid var(--color-3-dark);
    border-radius: 1em;
    box-shadow: 3px 3px 5px var(--color-box-shadow);
}

.venue-banner-info {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.venue-banner-info-title {
    width: 100%;
    color: var(--color-1);
    text-align: center;
    border-bottom: 3px solid var(--color-3-dark);
    background-color: var(--color-1);
    border-radius: 1em 1em 0 0;
    padding: 0.3em 0;
}

.venue-banner-title {
    color: var(--color-2);
    text-shadow: var(--text-shadow-gold);
}

.venue-banner-type {
    color: var(--color-3-dark-lighter);
}

.venue-banner-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    padding: 0.5em 0;
    background: linear-gradient(-90deg, var(--color-2), var(--color-4));
    border-radius: 0 0 1em 1em;
    color: var(--color-1)
}

.venue-banner-row {
    width: 90%;
}

.venue-row-content {
    margin-left: 1em;
}

.venue-row-content li {
    margin-left: 1em;
}

.section-title {
    width: 90%;
    background-color: var(--color-3-lighter);
    padding-left: 0.5em;
    border-radius: 2px;
}

.booking-info-container {
    width: 90%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
    border-bottom: 2px solid var(--color-1);
    padding: 0 1em 0.5em 1em;
}

.booking-info-container>span {
    font-weight: bold;
    margin-top: 0.5em;
}

.booking-info-container>ul {
    margin-left: 2em;
    margin-bottom: 0.5em;
}

.booking-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 1em;
    margin: 0.5em 0;
    align-items: center;
    gap: 0.5em;
}

.booking-form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.1em;
    justify-content: space-between;
    align-items: center;
}

.form-label {
    width: 100%;
    font-weight: bold;
    font-size: 0.8em;
}

.form-field {
    width: 100%;
    height: 2em;
    border-radius: 0.3em;
    border: 1px solid var(--color-1-lighter);
    padding: 0.2em;
    background: linear-gradient(-90deg, var(--color-4), var(--color-2-dark));
    color: var(--color-1-dark)
}

.booking-button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-button {
    width: 40%;
    min-height: 3.5em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    font-weight: bold;
    background: linear-gradient(135deg, var(--color-cta-1), var(--color-cta-2));
    color: var(--color-1);
    margin: 1em 0;
    text-align: center;
}

.form-button.cancel {
    background: linear-gradient(135deg, var(--color-5-lighter), var(--color-5));
    color: var(--color-2);
}

.form-button:hover {
    background: linear-gradient(135deg, var(--color-1-lighter), var(--color-1));
    color: var(--color-2);
}

.form-button:active {
    background: linear-gradient(135deg, var(--color-4), var(--color-4-dark));
    color: var(--color-1);
}

.booking-info-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5em;
}

.booking-info-label {
    font-weight: bold;
}

.booking-info-content-container {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.booking-info-content {
    padding-left: 1em;
}

.booking-info-list {
    font-size: 0.8em;
}

@media screen and (min-width: 600px) {
    .venue-banner {
        width: 80%;
        flex-direction: row;
    }

    .venue-banner-img {
        max-width: 30%;
        height: stretch;
        object-fit: cover;
    }

    .venue-banner-info-title {
        border-radius: 0.3em 3em 0 0;
        padding: 0.3em 0;
        text-align: left;
        padding-left: 1em;
    }

    .venue-banner-content {
        border-radius: 0 0 3em 0.3em;
    }

    .section-title {
        width: 80%;
    }

    .booking-info-container {
        width: 80%;
    }

    .booking-form {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    .venue-banner {
        width: 60%;
    }

    .section-title {
        width: 60%;
    }

    .booking-info-container {
        width: 60%;
    }

    .booking-form {
        width: 60%;
    }
}