footer {
    background: linear-gradient(90deg, var(--color-1), var(--color-1-dark));
    margin-top: 4em;
    color: var(--color-2-mid);
}

.footer-head {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em
}

.footer-desc {
    font-size: 0.8em;
}

.contact-footer {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border-top: 0.1em solid var(--color-2-dark);
    border-bottom: 0.1em solid var(--color-2-dark);
    box-shadow: 0px 0px 0.1em 0.2em var(--color-box-shadow);
}

.contact-detail {
    margin: 0.5em;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
}

.contact-detail>p {
    margin-left: 2em;
}

.logo-footer {
    height: 30px;
}

.contact-heading {
    color: var(--color-2-mid);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    font-weight: bold;
}

.contact-heading.link:active {
    color: var(--color-1-lighter)
}


.copyright {
    color: var(--color-3);
    height: 4em;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    text-align: center;
}

.contact-logo {
    width: 1.5em;
}

.social-media-logo {
    border: none;
    width: 2em;
    margin-left: 1em;
    margin-top: 0.5em;
}

.social-media-logo:hover {
    scale: 110%;
    cursor: pointer;
}

.social-media-logo:active {
    border: 0.1em solid #f2da9a;
    border-radius: 100%;
}

@media screen and (min-width: 600px) {
    .footer-head {
        gap: 1em;
        padding: 0.7em;
    }

    .footer-desc {
        font-size: 0.9em;
    }

    .contact-footer {
        flex-direction: row;
        justify-content: center;
        padding: 1em;
    }

    .contact-detail {
        width: 33%;
        overflow-wrap: wrap;
        word-break: break-all;
    }

    .contact-heading.link:hover {
        color: var(--color-3);
        cursor: pointer;
    }

    .contact-heading.link:active {
        color: var(--color-1-lighter);
    }
}

@media screen and (min-width: 992px) {
    .logo-footer {
        height: 40px;
    }

    .contact-detail {
        font-size: 1em;
    }

    .contact-heading {
        gap: 0.7em;
    }

    .copyright {
        font-size: 1em;
    }
}