header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, var(--color-1), var(--color-1-dark));
    height: 85px;
    padding: 1.7em 0.7em 0.7em 0.7em;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    color: var(--color-3);
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em
}

.logo-main {
    height: 40px;
    cursor: default;
}

.title-main {
    font-size: 1.3em;
    text-wrap: wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0px 1px 2px var(--color-box-shadow);
    text-align: left;
}

.navbar-main {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 85px;
    z-index: 1;
    width: 100%
}

.nav-link {
    text-decoration: none;
    color: var(--color-1);
    font-weight: 600;
    padding: 0.7em 1.4em;
    text-align: right;
    border-left: 1px solid var(--color-4-mid);
    border-bottom: 1px solid var(--color-4-mid);
    background-color: var(--color-2);
    cursor: default;
}

.nav-link:active {
    color: var(--color-2);
    background-color: var(--color-1);
}

.nav-list-btn {
    position: sticky;
    width: 50px;
    height: 50px;
    appearance: none;
    background: none;
    border: 0;
}

.nav-list-btn:active {
    background-color: var(--color-4);
}

.menu-btn-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 600px) {
    header {
        padding: 2em
    }

    .logo-main {
        cursor: pointer;
    }

    .title-main {
        font-size: 2em;
    }

    .nav-link {
        cursor: pointer;
    }

    .nav-link:hover {
        color: var(--color-3);
        background-color: var(--color-1);
    }

    .nav-list-btn {
        cursor: pointer;
    }

    .nav-list-btn:hover {
        background-color: var(--color-4);
        border-radius: 15%;
    }

    .nav-link:active {
        color: var(--color-2);
        background-color: var(--color-1);
    }
}

@media screen and (min-width: 992px) {
    .logo-main {
        height: 50px;
    }

    .title-main {
        font-size: 2.5em;
    }

    .header-right {
        position: absolute;
        right: 0.7em;
        width: 50%;
    }

    .nav-list-btn {
        position: static;
        width: 70px;
        height: 70px;
    }

    .navbar-main {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        right: 0;
    }

    .nav-link {
        color: var(--color-3);
        border: none;
        background: none;
        text-align: center;
        font-size: 0.9em;
        width: 10em
    }

    .nav-link:hover {
        color: var(--color-2);
    }

    .nav-link:active {
        color: var(--color-2-dark);
    }
}